<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/styles.css" | relative_url }}">
  </head>
  <body>
    <div>
      <img class="mt-2 ml-4 h-20" src="assets/img/light-1.png">
    </div>
    {{ content }}
    <div class="m-1 align-left">
      <p class="text-right font-semibold px-2"><a href="/legal">Mentions légales</a></p>
    </div>
  </body>
</html>
